# Environment
.env
.env.local
.env.*.local

# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
android/
ios/

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# EAS
.eas/
